:root {
    --Snow: #fffafa;
    --MintCondition: #5fe19b;
    --Ashtray: #515151;
    --CoralReef: #fb5f5f;
    --Charcoal: #303030;
}

html {
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
}

html,
* {
    font-family: 'Exo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Ubuntu, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font: 'Exo';
    min-width: 100vw;
    min-height: 100vh;
    margin: 0%;
}

a {
    text-decoration: none;
}
button,
input {
    border: none;
}
input:focus {
    outline: none;
}

.logoBox {
    position: absolute;
    width: 322px;
    height: 66px;
    left: 39px;
    top: 30px;
}
.logo {
    position: absolute;
    left: 4.42%;
    right: 4.42%;
    top: 21.62%;
    bottom: 21.62%;
    color: var(--Snow);
}
.logoPath {
    color: var(--Snow);
}

.loginBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25.1%;
    height: 58%;
    right: 7%;
    top: 12.3%;
    padding: 3.9% 3.5%;

    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    border-radius: 12px;
}

.loginBox__loginTitle {
    height: 3.6%;
    width: 100%;
    margin: 0;

    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;

    text-align: center;

    color: var(--Snow);
}

.loginBox__loginSubTitle {
    width: 362px;
    height: 28px;
    left: 65.73%;
    top: 253px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;

    color: var(--Snow);
}

.loginBox__userEmail,
.loginBox__passwordBox {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 47px;
    padding-left: 16px;
    padding-right: 16px;

    font-size: 15px;
    line-height: 20px;

    background: var(--Snow);
    border-radius: 4px;
}

.loginBox__userEmail {
    margin-bottom: 16px;
}
.loginBox__passwordBox {
    display: flex;
    align-items: center;
}
.passwordBox__userPassword {
    position: absolute;
    width: 65%;
}

.passwordBox__hiddenEye {
    position: relative;
    height: 100%;
    background: none;
    left: 95.18%;
    align-items: flex-end;
    top: 8%;
    bottom: 16.66%;
}

.inputOptions__rememberMeCheckbox {
    box-sizing: border-box;
    appearance: none;
    background-color: var(--Charcoal);
    cursor: pointer;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 20px;
    width: 20px;
    justify-content: center;
    margin-top: 13px;
    margin-right: 16px;

    background-color: rgba(0, 0, 0, 0.08);

    border: 1.5px solid var(--Snow);
    border-radius: 4px;
}
.inputOptions__rememberMeCheckbox:checked {
    background-color: var(--MintCondition);
    content: '';
}
.inputOptions__rememberMe {
    height: 19px;
    left: 68.14%;
    right: 25.12%;
    top: calc(50% - 19px / 2 - 84.5px);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: var(--Snow);
}

.forgotPassword {
    margin-left: 105.36px;
    top: calc(50% - 19px / 2 - 85.5px);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: var(--MintCondition);
}

.loginBox__loginButton {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 47px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--Snow);

    background: #4cc986;
    border-radius: 6px;
}

.loginBox__inputOptions,
.loginBox__register,
.loginBox__lineBreak {
    display: flex;
    flex-direction: row;
}

.loginBox__lineBreak {
    margin-bottom: 29.29px;
}
.loginBox__register {
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 16px;
}

.register__registerLink,
.register__registerTxt {
    height: 19px;

    top: calc(50% - 19px / 2 + 37.5px);
    margin-top: 14px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: right;
}

.register__registerTxt {
    color: var(--Snow);
}

.register__registerLink {
    margin-left: 5.19px;

    color: var(--MintCondition);
}

.loginBox__lineBreak__hr {
    width: 40.7%;
    margin: 0%;
}

.loginBox__lineBreak__orTxt {
    margin: 0%;
    width: 67.12px;

    text-align: center;

    color: var(--Snow);
}
.loginBox__socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 198px;
}
.socialMedia__loginOption {
    display: flex;
    width: 362px;
    height: 47px;
    left: 982px;
    top: 651px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    border: 2px solid var(--Snow);
    border-radius: 6px;

    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    color: var(--Snow);
}

.socialMedia__loginOption p {
    padding-right: 19%;
}

.loginOption__loginButtonLogo {
    height: 20px;
    width: 20px;
    padding-left: 10%;
}

.carouselContainer {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.carouselContainer__carouselSlide {
    display: flex;
    height: 100vh;
    width: 600vw;
}
.carouselContainer__carouselSlide img {
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;
    border-radius: 100%;
    padding: 0%;

    top: 50%;
    transform: translate(0%, -50%);

    background: var(--Ashtray);
    opacity: 0.8;
}
.previous {
    left: 2.2%;
}
.next {
    right: 2.2%;
}
.carouselSlider {
    position: absolute;
    bottom: 3.1%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 8.3%;
    height: 2.6%;
    background: var(--Ashtray);
    border-radius: 18px;
}
.carouselSlider__btn {
    padding: 0%;
    margin: 0%;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    opacity: 0.25;
}

.carouselSlider__btn--active {
    opacity: 1;
}

.loginBox__userEmail--error,
.loginBox__passwordBox--error {
    border: 2px solid var(--CoralReef);
}
