:root {
    --mainBg: #141414;
    --charColor: #ffffff;
    --cardColor: #303030;
    --drkBtnBg: #5f81fb;
    --platformColor: #ffffff;
    --listStyleOnBg: #515151;
    --listStyleOffBg: #303030;
    --Shadow: #141414;
    --Snow: #ffffff;
    --MintCondition: #5fe19b;
    --SoJaded: #36b972;
    --KateMoss: #0ea152;
    --Ashtray: #515151;
    --Charcoal: #303030;
    --Fossil: #939393;
}

html {
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
}

html,
* {
    font-family: 'Exo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Ubuntu, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    max-height: 1024px;
    margin: 0;
    color: var(--charColor);
    background-color: var(--mainBg);
    font: 'Exo';
    font-style: normal;
    overflow: hidden;
}
main {
    max-width: 1440;
    margin: 0 auto;
}
button {
    border: none;
}
.header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 90.82%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(
        180deg,
        var(--MintCondition) 0%,
        var(--SoJaded) 50%,
        var(--KateMoss) 100%
    );
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}
.header__logo {
    width: 18.5vw;
}
.header__search {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 25.1vw;
    height: 4.6vh;
    display: flex;
    align-items: center;

    background: var(--Snow);
    border-radius: 4px;
    z-index: 2;
}
.search__box {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}
.search__magnifyingglass {
    margin-left: 14px;
    margin-right: 11px;
}
.search__list {
    position: absolute;
    padding: 0px 8px;
    border-radius: 4px;

    top: 90%;
    left: 0%;
    width: 96%;

    list-style: none;
    text-align: left;
    background: var(--Snow);
    color: var(--Shadow);
    max-height: 0;
}
.search__list--open {
    max-height: 353%;
}

.list__item {
    padding: 10px 6px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}
.list__item:not(:last-child) {
    border-bottom: 0.5px solid #e1e1e4;
}

.header__profile {
    display: flex;
}
.profile__logout {
    margin-right: 16px;
    background-color: transparent;
    border-style: none;

    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
}

.profile__avatar {
    margin-right: 40px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
    padding-left: 40px;
    padding-right: 40px;
}
.topContainer__main {
    margin-bottom: 0px;
    height: 65px;
    left: 2.78%;
    right: 69.44%;
    top: calc(50% - 65px / 2 - 366.5px);

    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}
.topContainer__subtitle {
    margin-top: 0px;
}

.topContainer__darkmode {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
}

.darkmode__txt {
    width: 86px;
    height: 39px;

    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
}
.darkmode__buttonContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 44px;
    height: 22px;
    font-size: 9px;
    font-weight: 600;
    text-align: left;
    background-color: var(--drkBtnBg);
    border-radius: 23px;
}
.darkmode__button {
    position: absolute;
    right: 2px;

    border: none;
    border-radius: 40px;
    height: 18px;
    width: 18px;

    background: var(--Snow);
}
.darkmode__off {
    color: var(--Fossil);
}
.topContainer__listStyleButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.listStyleButtons__row,
.listStyleButtons__column {
    height: 40px;
    width: 40px;

    border-radius: 10px;
    border: none;
}
.listStyleButtons--on {
    background: var(--listStyleOnBg);
}
.listStyleButtons--on path {
    fill: white;
}

.listStyleButtons--off {
    background: var(--listStyleOffBg);
}

.sideBar {
    margin-left: 40px;
    width: 12vw;
}

.sideBar__topItem {
    margin: 10px 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.sideBar__home {
    height: 27px;
    left: 2.78%;
    right: 93.4%;
    top: calc(50% - 27px / 2 - 263.5px);

    color: var(--MintCondition);
}

.sideBar__popularHeader {
    height: 29px;
    left: 2.78%;
    right: 91.6%;
    top: calc(50% - 29px / 2 + 44.5px);
    margin: 55px 0px 18px 0px;

    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
}

.sideBar__item {
    height: 24px;
    margin: 17px 0px;
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.sideBar__firstItem {
    display: flex;
    align-items: center;
    margin-top: 37px;
}

.sideBar__logo {
    margin-right: 10.79px;
    height: 80%;
}
.mainBody {
    display: flex;
}
.cardList {
    overflow-y: scroll;
    height: 50rem;
}
.cardList--Row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 84.5vw;
}
.cardList--Row__card {
    width: 89.5%;
    height: 70%;
    margin: 24px;

    background-color: var(--cardColor);
    border-radius: 12px;
}
.cardList--Column {
    display: flex;
    flex-direction: column;
    margin: 0 17.5%;
    width: 48.41%;
}
.cardList--Column__card {
    width: 100%;
    height: 33.63rem;
    margin: 2.02% 0;

    background-color: var(--cardColor);
    border-radius: 12px;
}
.card__img {
    width: 100%;
    height: 58.55%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__info {
    padding: 16px;
}
.cardList--Row__card .info__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.cardList--Row__card .info__number {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: right;

    color: var(--SoJaded);
}

.cardList--Column__card .info__number {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: right;

    color: var(--SoJaded);
}

.card__releaseDate {
    margin: 0px 16px 4px 16px;
}
.cardList--Row__card .releaseDate__txt {
    width: 35%;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: var(--Fossil);
}

.cardList--Column__card .releaseDate__txt {
    width: 20%;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: var(--Fossil);
}

.cardList--Row__card .releaseDate__date {
    width: 30%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.cardList--Column__card .releaseDate__date {
    width: 20%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.releaseDate__consoles {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}
.releaseDate__consoles svg {
    margin-left: 16px;
    width: 20px;
    height: 20px;
    justify-content: right;
}
.cardList--Row__card .card__genres {
    width: 60%;
    margin: 0px 16px 18px 16px;
}

.cardList--Column__card .card__genres {
    width: 25%;
    margin: 0px 16px 18px 16px;
}
.cardList--Row__card .genres__txt {
    width: 60%;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: var(--Fossil);
}

.cardList--Column__card .genres__txt {
    width: 13%;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: var(--Fossil);
}

.cardList--Row__card .genres__list {
    width: 130%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: left;
}

.cardList--Column__card .genres__list {
    width: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: left;
}

.card__desc {
    height: 19%;
    margin: 2.6% 2.5% 2.6% 2.5%;
    font-size: 14px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.overlay2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 67.25rem;
    height: 49.56rem;
    transform: translate(-50%, -50%);

    border-radius: 24px;
    background-image: linear-gradient(
        to top,
        var(--cardColor) 0%,
        var(--cardColor) 30%,
        rgba(48, 48, 48, 0.5) 100%
    );
    z-index: 3;
}
.insertImg {
    z-index: 2;
}
.imgModal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 67.23rem;
    height: 49.56rem;
    transform: translate(-50%, -50%);

    border-radius: 24px;
    z-index: 2;
}
.modal__close {
    position: absolute;
    right: 0rem;
    padding: 0;
    margin: 2.13rem 2.13rem;
    border: none;
    background: transparent;
}
.modal__body {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 2.87rem 2rem;
}
.body__logos svg {
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
}
.body__title {
    color: var(--Snow);
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin-top: 1rem;
    margin-bottom: 0.56rem;
}
.body__chips {
    display: flex;
}
.chips__round {
    padding: 0.25rem 0.81rem;
    border-radius: 62px;
    border: none;
    margin-right: 0.5rem;

    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--Ashtray);
}
.info__first {
    width: 37.68rem;
    margin-right: 1.06rem;
    margin-bottom: 0.93rem;
}
.first__description {
    height: 4.9rem;
    overflow-y: scroll;
}
.first__buttons {
    display: flex;
}
.buttons__wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    width: 14.25rem;
    height: 2.93rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background: var(--MintCondition);
    border-radius: 6px;
    color: var(--Snow);
}

.buttons__wishlist svg {
    margin-left: 0.25rem;
}

.buttons__purchase {
    width: 14.25rem;
    height: 2.93rem;
    margin-bottom: 1.5rem;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    border: 2px solid var(--SoJaded);
    border-radius: 6px;
    background-color: transparent;
    color: var(--SoJaded);
}
.first__txt {
    display: flex;
}
.txt__left,
.txt__right {
    width: 14.12rem;
    margin-right: 1.62rem;
}
.modalTitle {
    margin: 0 0 0.5rem 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: var(--Fossil);
}
.infoTxt {
    margin: 0 0 1rem 0;
}
.right__icons {
    display: flex;
    margin-top: 3.12rem;
}
.second__trailer {
    width: 24rem;
    margin-bottom: 1rem;
}
.second__imageRow {
    display: flex;
}
.imageRow__img {
    width: 11.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.website__list {
    overflow: hidden;
}
.hide {
    display: none;
}

.noMargin {
    margin: 0%;
}

.body__info {
    display: flex;
}
.platformLogoCard {
    fill: var(--platformColor);
}
.platformLogoModal {
    fill: var(--Snow);
}
