:root {
  --Snow: #fffafa;
  --MintCondition: #5fe19b;
}

html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

html,
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
    'Helvetica Neue', Helvetica, sans-serif, 'Exo';
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.bg {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}

.bg-img {
  width: 100%;
  height: 100%;
}

.logoBox {
  position: absolute;
  width: 322px;
  height: 66px;
  left: 39px;
  top: 30px;
}
.logo {
  position: absolute;
  left: 4.42%;
  right: 4.42%;
  top: 21.62%;
  bottom: 21.62%;
  color: var(--Snow);
}
.logoPath {
  color: var(--Snow);
}

.loginBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 362px;
  height: 702px;
  left: 932px;
  top: 178px;
  padding-left: 50px;
  padding-right: 50px;

  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 12px;
}

.loginTitle {
  height: 27px;
  left: 65.73%;
  right: 10.04%;
  top: calc(50% - 27px / 2 - 299.5px);
  width: 362px;

  font-family: 'Exo';
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;

  /* identical to box height */

  text-align: center;

  color: var(--Snow);
}

.loginSubTitle {
  width: 362px;
  height: 28px;
  left: 65.73%;
  top: 253px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: var(--Snow);
}

.userEmail,
.passwordBox {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10.58px;
  padding-bottom: 10.58px;

  background: var(--Snow);
  border-radius: 4px;
}

.userEmail {
  margin-bottom: 16px;
}

.userPassword {
  position: absolute;
  border: none;
}

.hiddenEye {
  position: relative;
  height: 100%;
  border: none;
  background: none;
  left: 95.18%;
  align-items: flex-end;
  top: 16.67%;
  bottom: 16.66%;
}

.rememberMeCheckbox {
  box-sizing: border-box;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 20px;
  width: 20px;
  justify-content: center;
  margin-top: 13px;
  margin-right: 16px;

  background-color: rgba(0, 0, 0, 0.08);

  border: 1.5px solid var(--Snow);
  border-radius: 4px;
}

.rememberMe {
  height: 19px;
  left: 68.14%;
  right: 25.12%;
  top: calc(50% - 19px / 2 - 84.5px);

  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: var(--Snow);
}

.forgotPassword {
  margin-left: 105.36px;
  top: calc(50% - 19px / 2 - 85.5px);

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;

  color: var(--MintCondition);
}

.loginButton {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 47px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--Snow);

  background: #4cc986;
  border-radius: 6px;
}

.inputOptions,
.register,
.lineBreak {
  display: flex;
  flex-direction: row;
}

.lineBreak {
  margin-bottom: 29.29px;
}
.register {
  justify-content: center;
}

.registerLink,
.registerTxt {
  height: 19px;

  top: calc(50% - 19px / 2 + 37.5px);
  margin-top: 14px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: right;
}

.registerTxt {
  color: var(--Snow);
}

.registerLink {
  margin-left: 5.19px;

  color: var(--MintCondition);
}

.hr {
  width: 40.7%;
  margin: 0%;
}

.orTxt {
  margin: 0%;
  width: 67.12px;

  text-align: center;

  color: var(--Snow);
}

.loginFacebook,
.loginTwitter,
.loginGoogle {
  display: flex;
  width: 362px;
  height: 47px;
  left: 982px;
  top: 651px;
  margin-bottom: 24px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: 2px solid var(--Snow);
  border-radius: 6px;

  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  color: var(--Snow);
}

.loginFacebook p,
.loginTwitter p,
.loginGoogle p {
  padding-right: 19%;
}

.loginButtonLogo {
  height: 20px;
  width: 20px;
  padding-left: 10%;
}
