:root {
  --Snow: #ffffff;
  --Shadow: #141414;
  --MintCondition: #5fe19b;
  --SoJaded: #36b972;
  --KateMoss: #0ea152;
  --ColorIris: #5f81fb;
  --Ashtray: #515151;
  --Charcoal: #303030;
}

html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

html,
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
    'Helvetica Neue', Helvetica, sans-serif, 'Exo';
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--Shadow);
  font: 'Exo';
}

.header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 90.82%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(
    180deg,
    var(--MintCondition) 0%,
    var(--SoJaded) 50%,
    var(--KateMoss) 100%
  );
  box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}
.header__logo {
  position: relative;
  width: 322px;
  height: 66px;
}
.header__search {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 47px;
  width: 362px;
  display: flex;
  align-items: center;

  background: var(--Snow);
  border-radius: 4px;
}
.header__search__box {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
.header__search__magnifyingglass {
  margin-left: 14px;
  margin-right: 11px;
}
.header__profile {
  display: flex;
}
.header__profile__logout {
  margin-right: 16px;
  background-color: transparent;
  border-style: none;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;

  color: var(--Snow);
}

.header__profile__avatar {
  margin-right: 40px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--Snow);
}
.topContainer__main {
  margin-bottom: 0px;
  height: 65px;
  left: 2.78%;
  right: 69.44%;
  top: calc(50% - 65px / 2 - 366.5px);

  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
.topContainer__subtitle {
  margin-top: 0px;
}

.topContainer__darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7px;
}

.topContainer__darkmode__txt {
  width: 86px;
  height: 39px;
  left: 1257px;
  top: 113px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;

  color: var(--Snow);
}
.topContainer__darkmode__buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 44px;
  height: 22px;
  font-size: 9px;
  font-weight: 600;
  text-align: left;

  background: var(--ColorIris);
  border-radius: 23px;
}
.topContainer__darkmode__button {
  left: 52.27%;
  right: 6.82%;
  top: 9.09%;
  bottom: 9.09%;
  border: none;
  border-radius: 40px;
  height: 18px;
  width: 18px;

  background: var(--Snow);
}
.topContainer__listStyleButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.topContainer__listStyleButtons__row,
.topContainer__listStyleButtons__column {
  height: 40px;
  width: 40px;

  border-radius: 10px;
  border: none;
}
.topContainer__listStyleButtons__row {
  background: var(--Ashtray);
}
.topContainer__listStyleButtons__column {
  background: var(--Charcoal);
}
